.conteiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 380px;
    margin: 0 auto;
}

.titulo {
    color: var(--azul-escuro);
    font-size: 1.9rem;
    margin-bottom: 25px;
    text-align: center;
}

.campo {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid var(--cinza-claro);
    border-radius: 6px;
    background-color: var(--cinza);
}

.botao {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 10px;
    border-radius: 8px;
    transition: color .5s, background-color .5s;
    margin-top: 10px;
}

.botao:hover {
    background-color: var(--branco);
    font-weight: bold;
    color: var(--azul);
}

.mensagem {
    color: var(--azul-escuro);
    font-weight: 600;
    margin-bottom: 1rem;
}

.link {
    color: var(--azul-escuro);
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
