.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('C:\Users\ct67ca\Desktop\integrador_react - Copia\src\assets\fundo_login.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}
 
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.titulo {
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    padding: 40px;
    border-radius: 10px;
}
 
.campo {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    width: 250px;
}
 
.botao {
    background-color: var(--roxo-escuro);
    color: var(--cinza-claro);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
 
